body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 800px;
  height: 100vh;
}

#App__container {
  height: 780px;
  width: 1420px;
}